:root {
  --primary-font-famity: 'Open Sans', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-dark: #ffffff;
  --overtitle-color-theme-dark: rgba(157, 164, 189, 0.6);
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-light: #303030;
  --overtitle-color-theme-light: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: var(--primary-font-famity);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
/* START COMPONENTS */
.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 16px;
  min-width: 160px;
}
.modal-btn-theme-light {
  color: var(--secondary-text-color-theme-light);
}
.modal-btn-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}

.social-links-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-light);
}
.social-links-list-link:hover,
.social-links-list-link:focus {
  color: var(--accent-color);
}
.overtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.overtitle-theme-dark {
  color: var(--overtitle-color-theme-dark);
}
.overtitle-theme-light {
  color: var(--overtitle-color-theme-light);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.description-dark-theme {
  color: var(--primary-text-color-theme-dark);
}

.description-light-theme {
  color: var(--primary-text-color-theme-light);
}

.section-title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}
.section-title-light-theme {
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 20px;
}
.section-title-dark-theme {
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}
.rectangle {
  display: inline-flex;
  vertical-align: middle;
}
.rectangle-light-theme {
  height: 1px;
  width: 60px;
  fill: var(--overtitle-color-theme-light);
  margin-right: 20px;
}
.rectangle-dark-theme {
  height: 1px;
  width: 60px;
  fill: var(--overtitle-color-theme-dark);
  margin-right: 20px;
}
/* END COMPONENTS */

/* START HEADER */

.header {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: #191c26;
}

.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.contact-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  margin-left: auto;
  margin-right: 40px;
}
.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}
/* END HEADER */

/* START HERO */
.hero-container {
  background-color: var(--secondary-text-color-theme-dark);
  display: flex;
  align-items: center;
}
.hero-right-side {
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../images/slider-img-3.jpg');
  background-size: cover;
  background-color: #303030;
  flex-grow: 1;
}

.hero-left-side {
  width: 100px;
}
.social-links-list {
  display: flex;
  align-items: center;
}
.social-links-list-item:not(:last-child) {
  margin-right: 40px;
}

.rectancle-hero-left-side {
  margin-right: 40px;
  display: inline-flex;
  vertical-align: middle;
}
.main-title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 20px;
}
.hero-description {
  max-width: 400px;
}
/* END HERO */

/* START ABOUT */
.section-about {
  background-color: var(--secondary-text-color-theme-dark);
}
.about-container {
  display: flex;
}
.about-left-side {
  display: flex;
  margin-right: 64px;
}
.about-list-item:not(:last-child) {
  margin-right: 20px;
}
.about-right-side {
  width: 500px;
}
.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-top: 20px;
  margin-bottom: 40px;
}
/* END ABOUT */

/* START PRICES */
.section-prices {
  background-image: url(../images/price.png);
  background-size: cover;
  background-color: #111319;
}

.prices-box {
  display: flex;
}
.prices-box-list {
  width: 585px;
}
.prices-box-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-box-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-box-list-item {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}
.prices-box-item {
  display: flex;
  justify-content: space-between;
}
.prices-box-item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-btn {
  display: block;
  margin: 0 auto;
}

/* END PRICES */

/* START EXPIRIENCE */
.section-expirience {
  background-color: var(--secondary-text-color-theme-dark);
}
.expirience-container {
  display: flex;
  justify-content: space-between;
}
.expirience-container-left,
.expirience-container-right {
  flex-basis: calc((100% - 30px) / 2);
}
.expirience-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.expirience-list-item {
  width: 170px;
  min-height: 134px;

  padding: 21px;
  background-color: #f7f7f7;
}
.expirience-list-item:nth-child(even) {
  margin-top: 30px;
}
.expirience-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 6px;
}

.expirience-number-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: var(--accent-color);
}
.expirience-number-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-text-color-theme-light);
}
.expirience-description {
  max-width: 460px;
}

/* END EXPIRIENCE */

/* START TEAM */
.section-team {
  background-color: #f7f7f7;
}

.team-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 8px;
}
.team-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}
.section-team .section-title {
  margin-bottom: 44px;
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-card {
  flex-basis: calc(100% - 3 * 30px) / 3;
  margin-left: 30px;
  margin-top: 30px;
}
.team-contants-wrapper {
  padding-top: 30px;
  margin-bottom: 30px;
}
.team-actions {
  display: flex;
  justify-content: center;
}
.team-actions-list:not(:last-child) {
  margin-right: 10px;
}
.team-actions-list {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-text-color-theme-dark);

  cursor: pointer;
}
.team-actions-link {
  color: var(--overtitle-color-theme-light);
  display: block;
  padding: 12px;
}
.team-actions-link:hover,
.team-actions-link:focus {
  color: var(--accent-color);
}
.team-icon-button {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
/* .team-actions-list{
  color: var(--overtitle-color-theme-light);
} */
/* END TEAM */
/* START GALLARY */
.section-gallery {
  background-color: var(--secondary-text-color-theme-dark);
}
.gallary-overtitle {
  margin-bottom: 44px;
}
.gallary-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallary-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

/* END GALLARY */
/* START ONLINE_BOOKING */
.contact {
  background-color: #191c26;
}
.contacts {
  background-image: url(../images/bg-contacts.png);
  background-size: cover;
}
.contact-section {
  display: flex;
  justify-content: space-between;
}
.online-booking {
  padding-left: 56px;
}

.contacts-container {
  padding-left: 100px;
  padding-right: 255px;
}
.address-name {
  font-weight: 700;
}
.adress-list-item:first-child {
  width: 230px;
}
.adress-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.adress-list {
  margin-bottom: 70px;
}
.working-hours {
  color: var(--secondary-text-color-theme-dark);
}
.address-icon{
width: 16px;
height: 18px;
fill: var(--primary-text-color-theme-dark);
}
.address-icon-item{
  margin-right: 16px;
}
/* END ONLINE_BOOKING */
/* START FOOTER */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container-list {
  display: flex;
}
.footer-container-item:not(:last-child) {
  margin-right: 40px;
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}
/* END FOOTER */
